<div class="navbar">
    <h1>C3RTiFY</h1>
</div>
<div class="navbar-usd">
    <%if(User && User.detail=="organizer"){%>
      <a class="" href="/event/new">issue certificate</a>;

    <%}%>
    <% if(!User){ %>
      <button  onclick="location.href = '/signup';">Sign-Up</button>&nbsp;
      <button  onclick="location.href = '/login';">Log-In</button>&nbsp;
      <% } %>
        <% if(User){ %>
          <a  href="/logout">Log-Out</a>;
          <% } %>
  </div>