<% layout('layout/boilerplate.ejs',{ user: user }) %>


<div>
    <div>
        <h3>verify certificate</h3>
    </div>
    <div>
        <input placeholder="enter certificate id" type="" name="" id="cert-id">
        <p>or upload to verify</p>
        <input type="file" name="" id="cert-pdf"><br>
        <button type="submit">verify</button>

    </div>
</div>