<% layout("layout/boilerplate.ejs")%>
    <form class="box"  method="post">
        <h1>Login</h1>
        <input type="text" name="" id="email" placeholder="email">
        <input type="password" id="password" name="" placeholder="Password">
        <input type="submit" id="login-btn" name="" value="Login">
      
    </form>
    
