<% layout("layout/boilerplate.ejs")%>
<body>
    <form class="box"  method="post">
        <h1>Login</h1>
        <input type="text" name="" id="Username" placeholder="Username">
        <input type="password" id="password" name="" placeholder="Password">
        <input type="submit" id="login-btn" name="" value="Login">
        <h4>new user? signup here</h4>
        <button href="signup/signup.html">signup</button>
    </form>
    
