<% layout("layout/boilerplate")%>
   <div class="container" id="register-container">
        <h2>Sign Up</h2>
        <div id="register-error" class="error"></div>
        <input type="text" id="register-username" placeholder="Username">
        <input type="email" id="register-email" placeholder="Email">
        <input type="password" id="register-password" placeholder="Password">
        <input type="password" id="register-confirm-password" placeholder="Confirm Password">
        <button>Sign Up</button>
        <button id="register-button">Login</button>
    </div>

    <div class="container" id="login-container">
        <h2>Login</h2>
        <div id="login-error" class="error"></div>
        <input type="text" id="login-username" placeholder="Username or Email">
        <input type="password" id="login-password" placeholder="Password">
        <button >Login</button>
    </div>



