<% layout('layout/boilerplate.ejs',{ user: user, }) %>




<!-- Verify Section -->
<section class="verify-section" id="verify">
    <div class="container text-center">
        <h2>Verify Your Certificate</h2>
        <p>Enter your certificate ID  to verify its authenticity.</p>
        <form action="/verify" method="POST" class="d-flex justify-content-center">
            <input type="text" name="certificateId" placeholder="Enter Certificate ID" class="form-control w-50 me-2">
            <button type="submit" class="btn btn-primary">Verify</button>
        </form>
    </div>
</section>
