<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>C3RTiFY</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap">
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <%- include("../includes/navbar.ejs")%>
    <div class="container">
        <%-body -%>
    </div>
    <%- include("../includes/footer.ejs")%>

</body>
</html>